@import "./variable/variable";
@import "./mixin/font";

// max device responsive
@media (min-width:1800px) {

  // start of common responsive

  body {
    @include font(16px, 400);
    line-height: 28px;
  }

  .section-header {
    p {
      @include font(16px, 500);
      line-height: 50px;
    }

    h1 {
      @include font(50px, 500);
      line-height: 55px;
    }
  }

  .sub-title {
    @include font(24px, 500);
    line-height: 24px;
  }

  .plain-text {
    font-size: 16px !important;
    line-height: 28px;
  }

  .my-btn {
    @include font(15px, 700);
    line-height: 20px;
    padding: 16px 34px;
    border-radius: 5px;
    margin-top: 40px;
  }

  .read-more a {
    @include font(18px, 400);
    line-height: 50px;
  }

  .bg-overly {
    background: rgba(64, 65, 70, .8);
    padding: 90px 0;
  }

  // end of common
  .hero-pad {
    padding-top: 300px;
  }

  // about part start 
  .about {
    padding: 90px 0;

    .about-text {
      font-size: 40px;
      line-height: 55px;
    }

  }

  .Who-we-are {
    img {
      height: 309px;
    }

    .about-overly {
      top: 210px;

      img {
        width: 50px;
        height: 50px;
      }

      .fa-gear {
        font-size: 40px;
      }
    }
  }

  .fa-quote-left,
  .fa-quote-right {
    font-size: 50px;
  }

  // end of about

  // product part start
  .flip-card,
  .flip-card-front img {
    height: 352px;
  }

  .flip-card-back .product-icon img {
    width: 100px;
  }

  // end of product

  // process part start

  .process {
    .nav-pills {
      .nav-link {
        border-radius: 5px;
        width: 170px;
        height: 150px;

        i {
          font-size: 50px;
          padding-bottom: 15px;
        }

        .plain-text {
          line-height: 22px;
          font-size: 18px !important;
        }
      }

      .nav-item {
        padding: 15px;
      }
    }
  }

  // end of process

  // start of testimonial responsive  
  .sm-img {
    p {
      @include font(20px, 500);
    }

    img {
      width: 130px;
      height: 130px;
    }
  }

  // end of testimonial

  // start ot stats responsive

  .stat-count .item-counter {
    width: 260px;
    height: 260px;
    border: 15px solid $theme;
  }

  .item-contain,
  .position,
  .time-counter {
    @include font(22px, 500);
  }

  .item-contain {
    h2 {
      font-size: 42px;
      padding: 10px 0 15px;
    }
  }

  .position h2,
  .time-counter span {
    font-size: 42px;
    padding: 10px 0 15px;
  }

  .item-contain h3,
  .position h3,
  .time-counter h3 {
    font-size: 22px;
  }

  // end of statistics

  // team start
  .person {
    img {
      height: 400px;
    }

    .tm-fullName p:first-child,
    .tm-mail p:first-child,
    .tm-contactNo p:first-child {
      padding-top: 50px;
      font-size: 20px
    }

    .tm-fullName p:first-child,
    .tm-mail p:first-child,
    .tm-contactNo p:nth-child(2) {
      font-size: 20px
    }
  }

  .designation-text {
    @include font(16px, 400);
  }

  // team end

  // start of counter responsive
  .counter-part {
    padding: 90px 0;
  }

  .counter-text {
    @include font(50px, 300);
    line-height: 55px;
  }

  // end of counter

  // latest work part start

  .blog-small {
    @include font(14px, 400);

    span {
      margin-right: 25px;
    }
  }

  .card-img-top {

    height: 306px;
  }

  // end of latest work

  // client part start
  .our-clients {
    padding: 85px 0;

    .img {
      height: 176px;
      margin: 0 14px;
      padding: 16px;
    }
  }

  // end of client

  // start of factory responsive

  .factory {
    padding: 85px 0;

    .factory-item {
      .image {
        height: 270px;

        .overlay {
          i {
            width: 50px;
            height: 50px;
            line-height: 50px;
          }
        }
      }

      &.big-item .image {
        height: 490px;
      }
    }
  }

  // end of factory

  // start of news responsive
  .news-item {
    .image {
      height: 330px;

      .date {
        span {
          @include font(20px, 700);
          width: 80px;
          height: 80px;
          padding: 15px;
          line-height: 20px;
        }
      }
    }

    .text {
      height: 250px;
      .title {
        @include font(22px, 600);
      }
    }
  }

  // end of news

  // start of social responsive
  .social-item {

    .image {
      height: 316px;
    }

    .plain-text {
      padding: 30px;
      height: 293px;

      .read-more {
        margin-top: 20px;
        padding-top: 14px;
      }
    }
  }

  // end of social

  // start of footer responsive
  .footer-about .social i {
    font-size: 24px;
  }

  footer .footer-bg {
    padding: 85px 0 0px 0;

    .footer-about {
      img {
        width: 180px;
      }
    }

    .getin-touch ul li {
      p {
        span {
          @include font(18px, 600);
        }
      }

      i {
        font-size: 24px;
      }
    }

    .footer-btm {
      padding: 20px 0;
      margin-top: 40px;
      border-top: 1px solid rgba(255, 255, 255, 0.1);

      p {
        font-size: 18px;
      }
    }
  }

}

// extra large device responsive
@media(min-width:1400px) and (max-width:1799px) {

  // start of common responsive

  body {
    @include font(16px, 400);
    line-height: 28px;
  }

  .section-header {
    p {
      @include font(15px, 500);
      line-height: 50px;
    }

    h1 {
      @include font(45px, 500);
      line-height: 50px;
    }
  }

  .sub-title {
    @include font(22px, 500);
    line-height: 22px;
  }

  .plain-text {
    font-size: 16px !important;
    line-height: 28px;
  }

  .my-btn {
    @include font(14px, 700);
    line-height: 20px;
    padding: 15px 30px;
    border-radius: 5px;
    margin-top: 40px;
  }

  .read-more a {
    @include font(16px, 400);
    line-height: 50px;
  }

  .bg-overly {
    background: rgba(64, 65, 70, .8);
    padding: 80px 0;
  }

  // end of common

  .hero-pad {
    padding-top: 250px;
  }

  // start of about responsive 
  .about {
    padding: 85px 0;

    .about-text {
      font-size: 35px;
      line-height: 50px;
    }

  }

  .Who-we-are {
    img {
      height: 309px;
    }

    .about-overly {
      top: 210px;

      img {
        width: 50px;
        height: 50px;
      }

      .fa-gear {
        font-size: 40px;
      }
    }
  }

  .fa-quote-left,
  .fa-quote-right {
    font-size: 40px;
  }

  // end of about


  // start of product responsive
  .flip-card,
  .flip-card-front img {
    height: 352px;
  }

  .flip-card-back {
    padding: 12px 35px 0;

    .product-icon img {
      width: 100px;
    }

    .product-brif{
      p {
        line-height: 24px;
      }
    }

    .read-more a {
      line-height: 40px;
    }
}

  // end of product

  // start of process responsive

  .process {
    .nav-pills {
      .nav-link {
        border-radius: 5px;
        width: 150px;
        height: 130px;

        i {
          font-size: 40px;
          padding-bottom: 12px;
        }

        .plain-text {
          line-height: 20px;
          font-size: 16px !important;
        }
      }

      .nav-item {
        padding: 12px;
      }
    }
  }

  // end of process

  // start of testimonial responsive  
  .testimonial-slide .card {
    height: 446px;
  }
  .sm-img {
    p {
      @include font(18px, 500);
    }

    img {
      width: 120px;
      height: 120px;
    }
  }

  // end of testimonial

  // start ot stats responsive

  .stat-count .item-counter {
    width: 250px;
    height: 250px;
    border: 12px solid $theme;
  }

  .item-contain,
  .position,
  .time-counter {
    @include font(20px, 500);
  }

  .item-contain {
    h2 {
      font-size: 40px;
      padding: 10px 0 15px;
    }
  }

  .position h2,
  .time-counter span {
    font-size: 40px;
    padding: 10px 0 15px;
  }

  .item-contain h3,
  .position h3,
  .time-counter h3 {
    font-size: 20px;
  }

  // end of statistics

  // team start
  .person {
    margin: 0 10px;

    img {
      height: 400px;
    }

    .tm-fullName p:first-child,
    .tm-mail p:first-child,
    .tm-contactNo p:first-child {
      padding-top: 40px;
      font-size: 18px
    }

    .tm-fullName p:first-child,
    .tm-mail p:first-child,
    .tm-contactNo p:nth-child(2) {
      font-size: 18px
    }
  }

  .designation-text {
    @include font(15px, 400);
  }

  // team end

  // start of counter responsive
  .counter-part {
    padding: 85px 0;
  }

  // end of counter

  // latest work part start

  .blog-small {
    @include font(13px, 400);

    span {
      margin-right: 25px;
    }
  }

  .card-img-top {
    height: 235px;
  }

  // end of latest work

  // start of client responsive
  .our-clients {
    padding: 85px 0;

    .img {
      height: 176px;
      margin: 0 14px;
      padding: 16px;
    }
  }

  // end of client

  // start of factory responsive

  .factory {
    padding: 85px 0;

    .factory-item {
      .image {
        height: 270px;

        .overlay {
          i {
            width: 50px;
            height: 50px;
            line-height: 50px;
          }
        }
      }

      &.big-item .image {
        height: 490px;
      }
    }
  }

  // end of factory

  // start of news responsive
  .news-item {
    .image {
      height: 330px;

      .date {
        span {
          @include font(20px, 700);
          width: 80px;
          height: 80px;
          padding: 15px;
          line-height: 20px;
        }
      }
    }

    .text {
      height: 246px;
      .title {
        @include font(22px, 600);
      }
    }
  }

  // end of news

  // start of social responsive
  .social-item {

    .image {
      height: 316px;
    }

    .plain-text {
      padding: 30px;
      height: 289px;

      .read-more {
        margin-top: 20px;
        padding-top: 14px;
      }
    }
  }

  // end of social

  // start of footer responsive
  .footer-about .social i {
    font-size: 24px;
  }

  footer .footer-bg {
    padding: 85px 0 0px 0;

    .footer-about {
      img {
        width: 180px;
      }
    }

    .getin-touch ul li {
      p {
        span {
          @include font(18px, 600);
        }
      }

      i {
        font-size: 24px;
      }
    }

    .footer-btm {
      padding: 20px 0;
      margin-top: 40px;
      border-top: 1px solid rgba(255, 255, 255, 0.1);

      p {
        font-size: 18px;
      }
    }
  }

}

// extra large device responsive
@media(min-width:1200px) and (max-width:1399px) {

  .hero-pad {
    padding-top: 200px;
  }
  .particles-js-canvas-el {
    height: 700px !important;
  }
  // about start
  .Who-we-are {
    img {
      height: 265px;
    }

    .about-overly {
      top: 180px;

      img {
        width: 40px;
        height: 40px;
      }
    }
  }


  //about end
  .service img {
    width: 60px;
    height: 60px;
  }

  // team start
  .person {
    img {
      height: 340px;
    }
  }

  // team end
  // product part start
  .flip-card-back {
    padding: 10px 20px 0;

    .product-name h1 {
      font-size: 20px;
    }

    .product-icon img {
      width: 90px;
    }

    .product-brif{
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      line-clamp: 5;
      -webkit-box-orient: vertical;

      p {
        line-height: 22px;
      }
    }

    .read-more a {
      line-height: 30px;
    }
}

  // product end

  // testimonial part start
  .testimonial-slide .card {
    height: 424px;
  }
  .sm-img img {
    width: 100px;
    height: 100px;
  }
  // news list start
  .news-item .text{
    height: 236px;
  }

  .news-lists .news-item .news-image {
    position: relative;
    width: 354px;
    height: 244px;
  }

  // social part start
  .social-item .plain-text{
    height: 277px;
  }

}

// large device responsive
@media(min-width:992px) and (max-width:1199px) {

  // banner part start
  .hero-pre-title {
    line-height: 22px;
  }
  
  .hero-title {
      @include font(50px, 500);
    line-height: 60px;
  }
  
  .hero-pad {
    padding-top: 130px;

    .plain-text{
      line-height: 22px;
    }
  }
  .particles-js-canvas-el{
    height: 557px !important;
  }
  .mobile-topbar {
    padding: 6px 0;
  }
  // end of banner part

  // start of product responsive
  .flip-card,
  .flip-card-front img {
    height: 248px;
  }

  .flip-card-back {
    padding: 8px 20px 0;

    .product-name h1 {
      font-size: 18px;
    }

    .product-icon img {
      width: 80px;
    }

    .product-brif{
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      line-clamp: 4;
      -webkit-box-orient: vertical;

      p {
        line-height: 22px;
      }
    }

    .read-more a {
      line-height: 30px;
    }
}
  // end of product


  // testimonial part start
  .testimonial-slide .card {
    height: 404px;
  }
  // testimonial part end

  // stats part start
  .stat {
    padding: 70px 0;
  }

  .stat-count .item-counter {
    width: 200px;
    height: 200px;
    border: 8px solid $theme;
  }

  .item-contain {
    h1 {
      font-size: 35px;
    }

    h2 {
      font-size: 30px;
      padding: 10px 0 15px;
    }
  }

  .position h2,
  .time-counter span {
    font-size: 35px;
    padding: 10px 0 15px;
  }

  .item-contain h3,
  .position h3,
  .time-counter h3 {
    font-size: 20px;
  }

  // stats part end

  // ceo part start
  .ceo-info {
    padding: 60px;

  }

  // ceo part end

  // counter part start
  .counter-part {
    padding: 70px 0;
  }

  .counter-text {
    @include font(45px, 300);
  }

  // counter end

  // latest work part start
  .blog {

    .blog-text {
      padding: 25px;
    }
  }

  .blog-small {
    padding-top: 20px;

    span {
      margin-right: 15px;
    }
  }


  .blog .card {
    img {
      height: 163px;
    }
  }

  // work part end

  // factrory part start
  .factory {
    padding: 70px 0;

    .factory-item {
      .image {
        height: 191px;
        margin-bottom: 24px;
      }

      &.big-item .image {
        height: 349px;
      }
    }
  }

  // news part start

  .news-item {
    .image {
      height: 234px;
    }

    .text {
      height: 222px;
      padding: 28px;
    .plain-text.text-wrap {
      padding: 10px 0 0 0;
    }
    }
  }

  // news part end

  // social part start

  .social-item {
    .image {
      height: 224px;
    }
    .plain-text{
      height: 251px;
     .text-wrap {
      -webkit-line-clamp: 2 !important;
      line-clamp: 2 !important;
    }
  }
  }

  // social part end

  // content page start
  .breadcrumb .bg-overly {
    padding-top: 100px !important;
  }

  .content-page {
    padding-top: 30px;
    margin-bottom: 60px;
  }

  table {
    margin-left: 0;
  }

  table tr th {
    min-width: 120px;
    text-align: end;
  }



  // contact us page start
  // .contact-us {
  //   margin: 80px 0;
  // }

  .getintouch {
    padding: 0 40px;

    h4 {
      text-align: center;
      padding-bottom: 20px;
      font-size: 20px;
    }
  }

  .contact-us .contact-head {
    text-align: center;
    padding-top: 50px;

    h4 {

      font-size: 20px;
    }
  }

  // news list start
  .news-lists .news-item .news-image {
    position: relative;
    width: 294px;
    height: 203px;
  }

  .news-lists .news-item .news-text .info {
    padding: 24px;
    height: 200px;
  }

  .news-lists .news-item .news-text .info p {
    margin-top: 15px;
  }

}

// medium device responsive
@media(min-width:768px) and (max-width:991px) {

  // common part start
  
.section-header {
	p {
		@include font(13px, 500);
		line-height: 45px;
		letter-spacing: 10px;
	}

	h1 {
		@include font(35px, 500);
		line-height: 35px;
	}
}

.sub-title {
	@include font(16px, 500);
	line-height: 18px;
}

.bg-overly {
	background: rgba(64, 65, 70, .8);
	padding: 60px 0;
}
// common part end

  // banner part start
  .hero-pre-title {
    line-height: 22px;
    letter-spacing: 18px
  }
  
  .hero-title {
      @include font(40px, 500);
    line-height: 50px;
  }
  
  .hero-pad {
    padding-top: 80px;

    .plain-text{
      padding-top: 15px !important;
      line-height: 22px;
    }
  }
  .particles-js-canvas-el{
    height: 432px !important;
  }
  .circle {
    height: 80px;
    width: 80px;

    .fa-play {
    font-size: 40px;
    }
  }
  .logo img{
    width: 70px;
    height: 50px;
  }
  .mobile-topbar {
    padding: 6px 0;
  }
  // end of banner part


// about part start
  .about {
    padding: 60px 0;
  }

  .fa-quote-left,
  .fa-quote-right {
    font-size: 30px;
  }

  .about-text {
    font-size: 24px;
    line-height: 35px;
  }

  .fa-gear {
    font-size: 24px;
  }

  .what-we-do img{
    height: 518px !important;
    margin-top: 20px;
  }

  .Who-we-are {
    img {
      height: 250px;
    }

    .about-overly {
      top: 100px;
      padding: 10px;

      img {
        width: 30px;
        height: 30px;
      }
    }
  }
  .Who-we-are .about-overly {
    top: 165px;
  }
  .what-we-do .about-overly {
    top: 400px;
  }
  // about part end

  // service part start
  .service{
    img{
      width: 50px;
      height: 50px;
    }
  }
  .service-text{
    padding: 0 35px 0 25px;
  }

  // product part start
  .filter_menu ul li {
    padding: 3px 13px;
    margin: 0 4px 20px;
  }
  .flip-card,
  .flip-card-front img {
    height: 179px;
  }

  .flip-card-back {
    padding: 6px 20px 0;

    .product-name h1 {
      font-size: 16px;
    }

    .product-icon img {
      width: 50px;
    }

    .product-brif{
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      line-clamp: 3;
      -webkit-box-orient: vertical;

      p {
        line-height: 20px;
      }
    }

    .read-more a {
      line-height: 30px;
    }
}
  // product part end

  // process part start
  .process {
    .nav-pills {
      .nav-link {
        border-radius: 5px;
        width: 120px;
        height: 110px;

        i {
          font-size: 35px;
          padding-bottom: 10px;
        }

        .plain-text {
          line-height: 18px;
          font-size: 15px !important;
        }
      }

      .nav-item {
        padding: 10px;
      }
    }
  }
  // process part end

  // testimonial part start
  .testimonial-slide .card {
    height: 388px;
  }
  // testimonial part end

  // stats part start
  .stat {
    padding: 70px 0;
  }

  .stat-count .item-counter {
    width: 180px;
    height: 180px;
    border: 8px solid $theme;
  }

  .item-contain {
    h1 {
      font-size: 35px;
    }

    h2 {
      font-size: 30px;
      padding: 10px 0 15px;
    }
  }

  .position h2,
  .time-counter span {
    font-size: 35px;
    padding: 10px 0 15px;
  }

  .item-contain h3,
  .position h3,
  .time-counter h3 {
    font-size: 20px;
  }
.res-bdr-fix{
  border-left: none !important;
}
  // stats part end
  // team part start
  .person img {
    height: 204px;
  }
  .tm-fullName p:first-child, .tm-mail p:first-child, .tm-contactNo p:first-child {
    padding-top: 12px;
  }
  // team part end

    // ceo part start
    .ceo{
      background-color: #212529;
    }
    .ceo-info {
      padding: 20px 30px 30px;
  
    }
    .ceo-img{
      background:unset;
      padding: 0 !important;
    }
    .ceo-front-img {
      img{
        width: 100%;
      }
    }
  
    // ceo part end
    // counter part start
    .counter-part {
      padding: 60px 0;
    }
    .counter-text {
      font-size: 40px;
    }
    // counter part end
    // client part start
    .our-clients {
      padding: 60px 0;
    }

    // latest work part start
    .blog .blog-text {
      padding: 20px;
    }
    // factory part start
    .factory {
      padding: 60px 0;
    }
    .factory .factory-item .image {
      height: 140px;
    }
    .factory .factory-item.big-item .image {
      height: 255px;
    }

    // news part start
    .news-item .image {
      height: 171px;
    }
    .news-item .text {
      height: 204px;
      padding: 20px;
      .plain-text.text-wrap {
        padding: 10px 0 0 0;
      }
    }
    .news-item .image .date {
      bottom: 10px;
      left: 10px;
    }
    .news-item .image .date span {
      font-size: 15px;
      width: 55px;
      height: 55px;
      line-height: 15px;
    }

    // sicial part start
    .social-item .image {
      height: 164px;
    }
    .social-item .plain-text {
      padding: 20px;
      height: 207px;

      .text-wrap {
        -webkit-line-clamp: 2 !important;
        line-clamp: 2 !important;
        padding: 10px 0 0 0;
      }
    }
    .social-item .plain-text .read-more {
      margin-top: 10px;
      padding-top: 10px;

      a{
        line-height: 30px;
      }
    }

    // footer part start
    footer .footer-bg {
      padding: 20px 0 0px 0;
    }
    footer .footer-bg .links ul li {
      margin-bottom: 6px;
    }
    footer .footer-bg .footer-title {
      padding-top: 45px;
      padding-bottom: 40px;
    }
// content page start
.breadcrumb .bg-overly {
  padding-top: 80px !important;
}

.content-page {
  padding-top: 30px;
  margin-bottom: 60px;
}

table {
  margin-left: 0;
}

table tr th {
  min-width: 100px;
  text-align: end;
}


// contact us page start
.contact-us {
  margin: 80px 0;
}

.getintouch {
  padding: 0 40px;

  h4 {
    text-align: center;
    padding-bottom: 20px;
    font-size: 20px;
  }
}

.contact-us .contact-head {
  text-align: center;
  padding-top: 50px;

  h4 {

    font-size: 20px;
  }
}

// news list start
.news-lists .news-item .news-image {
  position: relative;
  width: 334px;
  height: 230px;
}

.news-lists .news-item .news-text .info {
  padding: 24px;
  height: 200px;
}

.news-lists .news-item .news-text .info p {
  margin-top: 15px;
}

.vbox-content {
  margin: 200px 0 !important;
}

}

// small device responsive
@media(min-width:576px) and (max-width:767px) {

  // common part start
  
.section-header {
	p {
		@include font(13px, 500);
		line-height: 45px;
		letter-spacing: 10px;
	}

	h1 {
		@include font(35px, 500);
		line-height: 35px;
	}
}

.sub-title {
	@include font(16px, 500);
	line-height: 18px;
}

.bg-overly {
	background: rgba(64, 65, 70, .8);
	padding: 40px 0;
}

.my-btn {
	padding: 11px 16px;
  font-size: 11px;
  margin-top: 10px;
}
// common part end


  // banner part start
  .hero-pre-title {
    line-height: 15px;
    letter-spacing: 12px
  }
  
  .hero-title {
      @include font(30px, 500);
    line-height: 45px;
  }
  
  .hero-pad {
    padding-top: 60px;

    .plain-text{
      padding-top: 15px !important;
      line-height: 22px;
    }
  }
  .particles-js-canvas-el{
    height: 370px !important;
  }

  .circle {
    height: 70px;
    width: 70px;

    .fa-play {
    font-size: 30px;
    }
  }

  .logo img{
  
      width: 60px;
      height: 45px;
   
  }
  // end of banner part


// about part start
  .about {
    padding: 40px 0;
  }

  .fa-gear {
    font-size: 40px;
  }

  .Who-we-are {
    img {
      height: 384px;
    }

    .about-overly {
      top: 280px;

      img {
        width: 80px;
        height: 70px;
      }

      .plain-text{
        font-size: 16px;
      }
    }
  }
  // about part end

  // service
  .service{
    .bg-overly{
      padding-bottom: 20px;
    }
    img{
      width: 40px;
      height: 40px;
      margin-left: 20px;
    }
    .service-text {

      .text-wrap {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }

  }

  // product part start
  .product {
    padding: 40px 0;
  }
  .filter_menu ul li {
    padding: 3px 13px;
    margin: 0 4px 5px;
  }
  .flip-card,
  .flip-card-front img {
    height: 179px;
  }

  .flip-card-back {
    padding: 6px 20px 0;

    .product-name h1 {
      font-size: 16px;
    }

    .product-icon img {
      width: 50px;
    }

    .product-brif{
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      line-clamp: 3;
      -webkit-box-orient: vertical;

      p {
        line-height: 20px;
      }
    }

    .read-more a {
      line-height: 30px;
    }
}
  // product part end

  // process part start
  .process {
    .nav-pills {
      .nav-link {
        border-radius: 5px;
        width: 115px;
        height: 100px;

        i {
          font-size: 30px;
          padding-bottom: 10px;
        }

        .plain-text {
          line-height: 16px;
          font-size: 14px !important;
          word-wrap: break-word;
        }
      }

      .nav-item {
        padding: 8px;
      }
    }
    .tab-content .tab-pane p{
      text-align: justify;
    }
  }
  // process part end

// testimonial part start
.testimonial{
  padding: 40px 0 80px;

  .testimonial-text .blockquote{
    padding: 15px;
  }
}
.testimonial-slide .card {
  height: 414px;
}

  // stats part start
  .stat {
    padding: 40px 0;
  }

  .stat-count .item-counter {
    width: 180px;
    height: 180px;
    border: 8px solid $theme;
  }

  .item-contain {
    h1 {
      font-size: 35px;
    }

    h2 {
      font-size: 30px;
      padding: 10px 0 15px;
    }
  }

  .position h2,
  .time-counter span {
    font-size: 35px;
    padding: 10px 0 15px;
  }

  .item-contain h3,
  .position h3,
  .time-counter h3 {
    font-size: 20px;
  }
.res-bdr-fix{
  border-left: none !important;
}
  // stats part end
  // team part start
.team{
  .bg-overly{
    padding-bottom: 80px;
  }
}

  .person {
    img {
      height: 322px;
    }
  }
  .tm-fullName p:first-child, .tm-mail p:first-child, .tm-contactNo p:first-child {
    padding-top: 20px;
  }
  // team part end

    // ceo part start
    .ceo{
      background-color: #212529;
    }
    .ceo-info {
      padding: 20px 30px 40px;
  
    }
    .ceo-img{
      background:unset;
      padding: 0 !important;
    }
    .ceo-front-img {
      img{
        width: 100%;
      }
    }
  
    // ceo part end
    // counter part start
    .counter-part {
      padding: 40px 0;
    }
    .counter-text {
      font-size: 40px;
    }
    // counter part end
    // client part start
    .our-clients {
      padding: 40px 0;
    }

    // latest work part start
    .blog {
      .bg-overly{
        padding-bottom: 80px;
      }

      .blog-text {
        padding: 20px;
      }
    }
    // factory part start
    .factory {
      padding: 40px 0;
    }
    .factory .factory-item .image {
      height: 333px;
    }
    .factory .factory-item.big-item .image {
      height: 333px;
    }

    // news part start
    .news{
      .bg-overly{
        padding-bottom: 20px;
      }}
    .news-item .image {
      height: 409px;
    }
    .news-item .text {
      height: 195px;
    }

    // cirtificate part start
    .certificate {
      padding: 40px 0;
    }

    // sicial part start
    .social-responsibilites{
    .bg-overly{
      padding-bottom: 20px;
    }}
    .social-item .image {
      height: 391px;
    }
    .social-item .plain-text {
      padding: 30px;
      height: 191px;

      .text-wrap {
        -webkit-line-clamp: 2 !important;
        line-clamp: 2 !important;
        padding: 10px 0 0 0;
      }
    }
    .social-item .plain-text .read-more {
      margin-top: 10px;
      padding-top: 10px;
    }

    // footer part start
    .footer-about {
      padding-top: 40px;
    }
    footer .footer-bg {
      padding: 0;
    }
    footer .footer-bg .links ul li {
      margin-bottom: 6px;
    }
    footer .footer-bg .footer-title {
      padding-top: 45px;
      padding-bottom: 40px;
    }
// content page start
.content-page .content-main {
  padding: 20px;
}

.breadcrumb .bg-overly {
  padding-top: 50px !important;
}

.content-page {
  padding-top: 0;
  margin-bottom: 60px;
}

blockquote {
  padding: 30px;
}

table {
  margin-left: 0;
}

table tr th {
  min-width: 80px;
  text-align: end;
}

table tr td {
  padding-left: 20px;
}

// contact us page start
.contact-us {
  margin: 50px 0;
}

.getintouch {
  padding: 0 20px;

  h4 {
    text-align: center;
    padding-bottom: 20px;
    font-size: 20px;
  }
}

.contact-us .contact-head {
  text-align: center;
  padding-top: 50px;

  h4 {

    font-size: 20px;
  }
}

// news list start
.news-lists .news-item .news-image {
  position: relative;
  width: 244px;
  height: 168px;
}

.news-lists .news-item .news-text .info {
  padding: 20px;
  height: 171px;
}

.news-lists .news-item .news-text .info p {
  margin-top: 10px;
}

}


// extra small device responsive
@media(max-width:575px) {

  // common part start
  
.section-header {
	p {
		@include font(13px, 500);
		line-height: 40px;
		letter-spacing: 10px;
	}

	h1 {
		@include font(30px, 500);
		line-height: 30px;
	}
}

.sub-title {
	@include font(16px, 500);
	line-height: 16px;
}

.bg-overly {
	background: rgba(64, 65, 70, .8);
	padding: 25px 0;
}

.my-btn {
	padding: 10px 18px;
	margin-top: 25px;
  font-size: 11px;
}
// common part end

// banner part start
.hero-pre-title {
  line-height: 18px;
  font-size: 11px;
  letter-spacing: 12px;
}

.hero-title {
    @include font(30px, 500);
  line-height: 40px;
}

.hero-pad {
  padding-top: 50px;

  .plain-text{
    padding-top: 15px !important;
    line-height: 22px;
  }
}
.particles-js-canvas-el{
  height: 270px !important;
}

.circle {
  height: 70px;
  width: 70px;
  top: -110%;
  left: 70%;
  
  .fa-play {
  font-size: 30px;
  }
}
.logo img{

    width: 60px;
    height: 45px;
 
}
// banner part end

// about part start
  .about {
    padding: 40px 0;
  }

  .fa-gear {
    font-size: 30px;
  }

  .Who-we-are {
    img {
      height: 250px;
    }

    .about-overly {
      top: 170px;

      img {
        width: 50px;
        height: 40px;
      }

      .plain-text{
        font-size: 15px;
      }
    }
  }
  // about part end

  // service
  .service{
    .bg-overly{
      padding-bottom: 10px;
    }
    img{
      width: 35px;
      height: 35px;
    }
    .service-text {
      .sub-title{
        padding-bottom: 10px;
      }
      .read-more a {
        line-height: 30px;
      }

      .text-wrap {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        line-clamp: 2;
        -webkit-box-orient: vertical;
      }
    }

  }

  // product part start
  .product {
    padding: 25px 0;
  }
  .filter_menu ul li {
    padding: 3px 9px;
    margin: 0 4px 5px;
  }
  .flip-card,
  .flip-card-front img {
    height: 269px;
  }

  .flip-card-back {
    padding: 8px 30px 0;

    .product-name h1 {
      font-size: 18px;
    }

    .product-icon img {
      width: 80px;
    }

    .product-brif{
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 4;
      line-clamp: 4;
      -webkit-box-orient: vertical;

      p {
        line-height: 24px;
      }
    }

    .read-more a {
      line-height: 30px;
    }
}
  // product part end

  // process part start
  .process {
    .nav-pills {
      .nav-link {
        border-radius: 5px;
        width: 115px;
        height: 100px;

        i {
          font-size: 30px;
          padding-bottom: 10px;
        }

        .plain-text {
          line-height: 16px;
          font-size: 14px !important;
          word-wrap: break-word;
        }
      }

      .nav-item {
        padding: 8px;
      }
    }
    .tab-content .tab-pane p{
      text-align: justify;
    }
  }
  // process part end
// testimonial part start
.testimonial{
  padding: 25px 0 60px;
}

.testimonial-slide .card {
  height: 444px;
}
.sm-img img{
  width: 100px;
  height: 100px;
}

  // stats part start
  .stat {
    padding: 25px 0;
  }

  .stat-count .item-counter {
    width: 180px;
    height: 180px;
    border: 8px solid $theme;
    
  }

  .item-contain {
    h1 {
      font-size: 30px;
    }

    h2 {
      font-size: 25px;
      padding: 10px 0 15px;
    }
  }

  .position h2,
  .time-counter span {
    font-size: 25px;
    padding: 10px 0 15px;
  }

  .item-contain h3,
  .position h3,
  .time-counter h3 {
    font-size: 20px;
    text-align: center;
    padding-bottom: 20px;
  }
.res-bdr-fix{
  border-left: none !important;
  text-align: center;
}
  // stats part end
  // team part start
.team{
  .bg-overly{
    padding-bottom: 75px;
  }
}

  .person {
    img {
      height: 439px;
    }
  }
  .tm-fullName p:first-child, .tm-mail p:first-child, .tm-contactNo p:first-child {
    padding-top: 25px;
  }
  // team part end

    // ceo part start
    .ceo{
      background-color: #212529;
    }
    .ceo-info {
      padding: 20px 30px 40px;
  
    }
    .ceo-img{
      background:unset;
      padding: 0 !important;
    }
    .ceo-front-img {
      img{
        width: 100%;
      }
    }
  
    // ceo part end
    // counter part start
    .counter-part {
      padding: 25px 0;
    }
    .counter-text {
      font-size: 30px;
    }
    // counter part end
    // client part start
    .our-clients {
      padding: 25px 0;
    }

    // latest work part start
    .blog {
      .bg-overly{
        padding-bottom: 70px;
      }

      .blog-text {
        padding: 20px;
      }

      .blog-slide .card img{
        height: 242px;
      }
    }
    // factory part start
    .factory {
      padding: 40px 0;
    }
    .factory .factory-item .image {
      height: 333px;
    }
    .factory .factory-item.big-item .image {
      height: 333px;
    }

    // news part start
    .news{
      .bg-overly{
        padding-bottom: 20px;
      }}
    .news-item .image {
      height: 409px;
    }
    .news-item .text {
      height: 190px;
    }

    // cirtificate part start
    .certificate {
      padding: 40px 0;
    }
    .certificate .icon {
      width: 35px;
      height: 35px;
      line-height: 35px;
      font-size: 15px
    }


    // sicial part start
    .social-responsibilites{
    .bg-overly{
      padding-bottom: 25px;
    }}
    .social-item .image {
      height: 391px;
    }
    .social-item .plain-text {
      padding: 30px;
      height: 189px;

      .text-wrap {
        -webkit-line-clamp: 2 !important;
        line-clamp: 2 !important;
        padding: 10px 0 0 0;
      }
    }
    .social-item .plain-text .read-more {
      margin-top: 10px;
      padding-top: 10px;
    }

    // footer part start
    footer .footer-bg {
      padding: 25px 0 0;
    }
    footer .footer-bg .links ul li {
      margin-bottom: 6px;
    }
    footer .footer-bg .footer-title {
      padding-top: 45px;
      padding-bottom: 40px;
    }
// content page start
.content-page .content-main {
  padding: 20px;
}

.breadcrumb .bg-overly {
  padding-top: 50px !important;
}

.content-page {
  padding-top: 0;
  margin-bottom: 60px;
}

blockquote {
  padding: 30px;
}

table {
  margin-left: 0;
}

table tr th {
  min-width: 60px;
  text-align: start;
}

table tr td {
  padding-left: 0;
}


// contact us page start
.contact-us {
  margin: 20px 0;
}

.getintouch {
  h4 {
    text-align: center;
    padding-bottom: 20px;
    font-size: 20px;
  }
}

.contact-us .contact-head {
  text-align: center;
  padding-top: 50px;

  h4 {

    font-size: 20px;
  }
}
// news list start
.news-lists .news-item .news-image {
  position: relative;
  width: 334px;
  height: 230px;
}

.news-lists .news-item .news-text .info {
  padding: 20px;
  height: 171px;
}

.news-lists .news-item .news-text .info p {
  margin-top: 10px;
}
.vbox-content {
  margin: 280px 0 !important;
}
}

@media(max-width:480px){
  .particles-js-canvas-el{
    height: 203px !important;
  }
  .vbox-content {
    margin: 300px 0 !important;
  }
}