@import "../variable/variable";
@import "../mixin/font";


.news {
  /* padding: 80px 0; */
  background: url(../images/b-2.jpg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.news-item {
  .image {
    height: 282px;
    overflow: hidden;

    img {
      height: 100%;
      object-fit: cover;
      object-position: center;
      transition: all .5s ease 0s;
    }

    .date {
      left: 20px !important;
    }
  }

  .text {
    background-color: $menu;
    padding: 30px;

    .title {
      @include font(22px, 600);
      margin-top: 24px;
      margin-bottom: 14px;
      color: $white;
      transition: all linear .2s;
    }

    .plain-text.text-wrap {
      -webkit-line-clamp: 2 !important;
      line-clamp: 2 !important;
      padding: 10px 0;
    }
  }

  &:hover img {
    transform: scale(1.1);
  }
}
