@import "../variable/variable";
@import "../mixin/font";

.testimonial-slide .card {
    border-radius: 10px;
    cursor: pointer;
    background-color: $card;
  }
  
  .testimonial-text .blockquote p {
    font-size: 15px;
  }
  
  .sm-img {
    p {
      font-family: "Dosis", sans-serif;
      @include font(15px, 500);
      color: $white;
    }
  
    img {
      border-radius: 50%;
      margin: 0 auto;
    }
  }
  