@import "../variable/variable";
@import "../mixin/font";

.contact-us {
  margin: 80px 0;

  .background-image {
    background: url(../images/b-2.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    position: relative;
    height: auto;

    .card {
      background: transparent;

      .card-title {
        color: white;
        font-family: "Source Sans 3", sans-serif;
        @include font(16px, 700);
        line-height: 26px;
      }

      .card-text {
        color: white;
        font-family: "Source Sans 3", sans-serif;
        @include font(16px, 400);

        span {
          line-height: 22px;
          display: block;

          i {
            padding-right: 20px;
            color: $theme
          }
        }
      }
    }
  }

  .getintouch {
    // padding: 0 40px;

    h4 {
      // text-align: center;
      padding-bottom: 20px;
      font-size: 20px;
    }
  }

  .contact-head {
    padding-top: 90px;

    .sub-title {
      color: $menu;
      font-size: 20px;
      padding-bottom: 20px;
    }
  }

  .contact_form input {
    padding: 10px 0 10px 0;
    margin-bottom: 20px;
    border: none;
    border-bottom: solid 2px #bbbbbb;
    color: $text;
    background: none;
    border-radius: 0;
    height: auto;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;

    &::placeholder {
      color: #969494;
    }
  }

  .contact_form textarea {
    height: 195px;
  }
}