@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;700&family=Rubik:wght@400;500;700&family=Source+Sans+3:wght@400;500;700&display=swap');

@import "../variable/variable";
@import "../mixin/font";


* {
	margin: 0;
	padding: 0;
	outline: 0;
	box-sizing: border-box !important;
}

a {
	text-decoration: none !important;
	color: inherit;
}

a:hover {
	text-decoration: none !important;
	color: inherit;
}

// ul,
// ol {
// 	list-style: none;
// }

img {
	vertical-align: middle;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
	margin: 0;
	padding: 0;
}

body {
	position: relative;
	background-color: $bg;
	overflow-x: hidden;
	font-family: "Source Sans 3", sans-serif;
	@include font(15px, 400);
	line-height: 26px;
}

.section-header {
	p {
		font-family: "Source Sans 3", sans-serif;
		@include font(14px, 500);
		line-height: 48px;
		letter-spacing: 10px;
		text-transform: uppercase;
		color: $theme;
	}

	h1 {
		font-family: "Dosis", sans-serif;
		@include font(40px, 500);
		line-height: 48px;
		color: $white;
		text-transform: capitalize;
	}
}


.sub-title {
	font-family: "Rubik", sans-serif;
	@include font(18px, 500);
	line-height: 20px;
	color: $white;
}

.plain-text {
	font-family: "Source Sans 3", sans-serif;
	@include font(15px, 400);
	line-height: 26px;
	color: $text;
}

.my-btn {
	font-family: "Rubik", sans-serif;
	@include font(12px, 700);
	line-height: 17px;
	background-color: $theme;
	padding: 15px 25px;
	border-radius: 5px;
	text-transform: uppercase;
	text-align: center;
	box-sizing: border-box;
	display: inline-block;
	margin-top: 40px;

	a {
		color: $white;
	}
}

.read-more a {
	display: block;
	text-transform: capitalize;
	font-family: "Source Sans 3", sans-serif;
	@include font(15px, 400);
	line-height: 48px;
	color: $white;
	text-decoration: underline !important;
}

.bg-overly {
	background: rgba(64, 65, 70, .8);
	padding: 80px 0;
}
.text-wrap {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	line-clamp: 3;
	-webkit-box-orient: vertical;
}

// back to top
// #button.show {
// .backTop {
// 	opacity: 1;
// 	visibility: visible;
// }

// #button {
.backTop {
	display: inline-block;
	background-color: #ED1C24;
	width: 50px;
	height: 50px;
	line-height: 50px;
	color: #ffffff;
	text-align: center;
	border-radius: 50%;
	position: fixed;
	bottom: 30px;
	right: 30px;
	transition: background-color .3s, opacity .5s, visibility .5s;
	opacity: 1;
	visibility: visible;
	font-size: 18px;
	z-index: 1000;
	cursor: pointer;
	animation: updown 2s linear infinite alternate;
}

.fa-long-arrow-alt-up::before {
	content: "\f30c";
}
// image overly date
.image {
	.date {
		bottom: 20px;
		right: 20px;

		span {
			display: inline-block;
			background-color: #DC143C;
			color: $white;
			@include font(18px, 700);
			width: 70px;
			height: 70px;
			padding: 13px;
			border-radius: 50%;
			line-height: 20px;
			text-align: center;
		}
	}
}